.ContenuDescription {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 70px;
}

.secondType {
  flex-direction: row-reverse;
}

.ContenuImg {
  height: 200px;
  position: absolute;
  right: -50px;
  background-color: #F1F1F1;
  border-radius: 3px;

}

.titreContainer {
  font-family: 'bespoke_stencilbold', 'Ubuntu', 'Poppins', Courier;
  text-shadow: 2px 2px 2px #43885E;
}

.imageBorder {
  height: 240px;
  width: 200px;
  border: 3px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.imageBorder2 {
  height: 210px;
  width: 150px;
  border: 2px solid #0f2e4c;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.ContenuTexte {
  padding: 0 90px;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: 'Ubuntu', 'Poppins', Courier;
}

.titreContenu {
  font-family: 'bespoke_stencilmedium', 'Ubuntu', 'Poppins', Courier;
  font-size: 30px;
}


.BtnContenu {
  color: #F1F1F1;
  font-weight: bold;
  font-size: 18px;
  font-family: 'Ubuntu', 'Poppins', Courier;
  width: 100px;
  height: 35px;
  background: none;
  border: 2px solid #F1F1F1;
  border-radius: 3px;
  transition: all 300ms linear;
}

.BtnContenu:hover {
  /* color: #43885E;
  border: 3px solid #43885E ; */
  /* background: #43885E; */
  background-image: linear-gradient(45deg, #0f2e4c,#6dd06e);
}
