.headTeam {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #1717175e;
  backdrop-filter: blur(20px);
  border: 1px solid #4e4e4e;
  height: 260px;
  margin: 25px 30px;
  padding: 75px;
  /* color: black; */
  color: #F1F1F1;
  border-radius: 50px 0 50px 0;
  position: sticky;
  top: 0px;
  font-family: 'bespoke_stencilextrabold', 'Ubuntu', 'Poppins', Courier;
  z-index: 1000;



  /* color: #F1F1F1;
      color: black;
      background-color: #1717175e;
      backdrop-filter: blur(20px);
      border: 1px solid #4e4e4e;
      height: 230px;
      position: sticky;
      /* position: relative; */
      /* top: 0px;
      margin-top: 100px;
      padding: 25px 75px;
      margin: 30px;
      border-radius: 50px 0 50px 0;
      display: flex;
      font-family: 'bespoke_stencilextrabold', 'Ubuntu', 'Poppins', Courier;
      z-index: 5; */

}

/* .titre {
  font-family: 'bespoke_stencilextrabold', 'Ubuntu', 'Poppins', Courier;
} */

.club {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  font-weight: bold;
}

.joueurs {
  display: flex;
  flex-flow: wrap;
  align-items: center;
  justify-content: center;

}
/*
.joueurImg {
  border-radius: 50%;
}

.joueur {

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 25px;
  border: 4px solid #6dd06f4b;
  border-radius: 50px 0 50px;
  width: 20%;
  padding: 15px 0;
} */

/* .joueur:hover {
  /* background-color: #F1F1F1; */
/* } */

/* .infoJoueur {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.infoJoueur p {
  margin: 0;
  font-family: 'Ubuntu', 'Poppins', Courier;
  font-weight: bold;

}

.identite {
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.lastname {
  text-transform: uppercase;
} */


/* ------------------------------ */

.card {
  position: relative;
  z-index: 1;
  display: grid;
  place-content: center;
  width: 250px;
  height: 250px;
  color: #a18a96;
  text-align: center;
  /* border: 1px solid #fff; */
  border: 1px solid #4e4e4e;
  background-position: center;
  background-repeat: no-repeat;
  /* background: center no-repeat; */
  background-size: cover;
  padding: 10px;
  border-radius: 50px 0 50px 0;
  overflow: hidden;
  margin: 15px;
}

.card::before,
.card::after {
  content: '';
  position: absolute;
  left: 0;
  z-index: -1;
  width: 100%;
  height: calc(60% + 35px);
  background-color: #fff;
  transition: transform 0.5s 0.25s;
}

.card::before {
  top: 0;
  clip-path: polygon(0 0, 100% 0, 100% 45%, 0% 100%);
  transform: translateY(-100%);
}

.card::after {
  bottom: 0;
  clip-path: polygon(0 55%, 100% 0, 100% 100%, 0% 100%);
  transform: translateY(100%);
}

.card_body {
  opacity: 0;
  transition: opacity 0.25s;
}

.card_title {
  color: #6a515e;
  margin-bottom: 15px;
}

.card:hover::before,
.card:hover::after {
  transform: translateY(0);
}

.card:hover .card_body {
  opacity: 1;
  transition-delay: 0.75s;
}
