.headTeam {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f1f1f15f;
  backdrop-filter: blur(20px);
  height: 230px;
  margin: 25px 40px;
  padding: 25px;
  color: black;
  border-radius: 50px 0 50px 0;
  position: sticky;
  top: 0px;
  font-family: 'Ubuntu', 'Poppins', Courier;

}

.titre {
  font-family: 'bespoke_stencilextrabold', 'Ubuntu', 'Poppins', Courier;
}

.club {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  font-weight: bold;
}

.joueurs {
  display: flex;
  flex-flow: wrap;
  align-items: center;
  justify-content: center;
}

.joueurImg {
  border-radius: 50%;
}

.joueur {

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 25px;
  border: 4px solid #6dd06f4b;

  /* background-image: linear-gradient(45deg, #0f2e4c,#6dd06e); */
  border-radius: 50px 0 50px;
  width: 20%;
  padding: 15px 0;
}

.joueur:hover {
  /* background-color: #F1F1F1; */
}

.infoJoueur {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.infoJoueur p {
  margin: 0;
  font-family: 'Ubuntu', 'Poppins', Courier;
  font-weight: bold;

}

.identite {
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.lastname {
  text-transform: uppercase;
}
