.ligueContenu {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.pays {
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
}

.pays > img {
  width: 90px;
}

.borderImg {
  background-color: #F1F1F1;
  /* background: black; */
  border: 4px solid #6dd06f4b;
  /* backdrop-filter: blur(20px); */
  width: 200px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* position: absolute; */
  border-radius: 50%;
  /* RIGHT: 50%; */
  /* right: 35%; */
  /* top: -65px;
  left: 50%; */

}
